@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Booking</h1>
    <p class="lead">Register confirmed booking.</p>

    <p>@Html.ActionLink("Register New »", "Create", "JobMains", null, new { @class = "btn btn-primary btn-lg" }) </p>
    <p class="lead">Jobs :
    [ @Html.ActionLink("List", "ActiveJobs", "JobMains") ]  [ @Html.ActionLink("Job Table", "JobTable","JobMains", new { span = 30 }, null) ]
    [ @Html.ActionLink("Payments", "AdvanceList", "JobPayments") ]
        <br />Leads  
        [ @Html.ActionLink("List", "JobLeads", "JobMains") ]
    </p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sales Lead</h2>
        <p>
            Inquiries, Leads, Opportunities
            @Html.ActionLink("List", "Index", "SalesLeads")
        </p>
        <p>@Html.ActionLink("Add New »", "Create", "SalesLeads", null, new {@class = "btn btn-default"} ) </p>

    </div>
    <div class="col-md-4">
        <h2>Suppliers</h2>
        <p>
            Tour Operators, Island Hopping,
            Van and Car Rentals, Boat Rentals,
            Hotel, Accomodation, Rooms, Party Venues
            @Html.ActionLink("List", "Index", "Suppliers")
        </p>
        <p>@Html.ActionLink("Add New »", "Create", "Suppliers", null, new { @class = "btn btn-default" }) </p>

    </div>
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>Regular Clients, Guests, Companies, Corporate Accounts.
            @Html.ActionLink("List", "Index", "Customers")
           
        </p>
        <p>@Html.ActionLink("Add New »", "Create", "Customers", null, new { @class = "btn btn-default" }) </p>
    </div>
    <div class="col-md-4">
        <h2>Destinations</h2>
        <p>Tourist Destinations, Resorts, Places, museums, parks
            @Html.ActionLink("List", "Index", "Destinations")

        </p>
        <p>@Html.ActionLink("Add New »", "Create", "Destinations", null, new { @class = "btn btn-default" }) </p>
    </div>

    <div class="col-md-4">
        <h2>Equipments</h2>
        <p>
            Buses, Vans, Cars, Boats, 
            Sporting Gears, Cameras
            @Html.ActionLink("List", "Index", "SupplierItems")

        </p>
        <p>@Html.ActionLink("Add New »", "Create", "SupplierItems", null, new { @class = "btn btn-default" }) </p>
    </div>

    <div class="col-md-4">
        <h2>Products</h2>
        <p>
            Products & Services
            @Html.ActionLink("List", "Index", "Products")
            <br />Categories
            @Html.ActionLink("List", "Index", "ProductCategories")
            <br />Templates
            @Html.ActionLink("List", "ProductTemplates", "JobMains")

        </p>
        <p>@Html.ActionLink("Add New »", "Create", "Products", null, new { @class = "btn btn-default" }) </p>
    </div>

    <div class="col-md-4">
        <h2>Notes</h2>
        <p>
            Predefined Notes, terms, conditions
            @Html.ActionLink("List", "Index", "PreDefinedNotes")

        </p>
        <p>@Html.ActionLink("Add New »", "Create", "PreDefinedNotes", null, new { @class = "btn btn-default" }) </p>
    </div>

    

    <div class="col-md-4">
        <h2>Contacts</h2>
        <p>
            Entity Contacts
            @Html.ActionLink("List", "Index", "JobContacts")

        </p>
        <p>@Html.ActionLink("Add New »", "Create", "JobContacts", null, new { @class = "btn btn-default" }) </p>
    </div>


</div>