@model IEnumerable<JobsV1.Models.Product>

@{
    ViewBag.Title = "Products & Services";
}

<h2>Products & Services</h2>

@if (ViewBag.ListType == 0)
{
    <p>
        @Html.ActionLink("Create New Product", "Create")
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TemplateId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sort)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TemplateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sort)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @if (ViewBag.ListType == 0)
            {
                <p>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Price", "Price", new { id = item.Id }) |
                    @Html.ActionLink("Categories", "Categories", new { id = item.Id }) |
                </p>
            }
            else
            {
                <p>
                    @Html.ActionLink("Select Template", "SelectTemplate", new { id = item.Id })
                </p>
            }

        </td>
    </tr>
    <tr>
        <td colspan="7">
            @foreach (var jobItem in ViewBag.jobTemplates)
            {
                if (item.TemplateId == jobItem.Id)
                { 
                <p>
                    @Html.Partial("PartialViewProductTemplate", (JobsV1.Models.JobMain)jobItem)
                </p>
                }
                else
                {
                    <p>Template not yet defined</p>
                }
            }
        </td>

    </tr>

}

</table>

<p>
    @Html.ActionLink("Back to Main", "index", "Home")
</p>
