@model IEnumerable<JobsV1.Models.CarRateUnitPackage>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    Sort by: 
        @Html.ActionLink("Unit", "Index", new { sortby = 1 }) |
        @Html.ActionLink("Package", "Index", new { sortby = 2 })
</p>

<table class="table">
    <tr>
        <th>
            Tour Package
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelLonghaul)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuelDaily)
        </th>
        <th>
           Unit
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CarRatePackage.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelLonghaul)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuelDaily)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CarUnit.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
