@model JobsV1.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Remarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Remarks)
        </dd>

    </dl>
</div>

<p style="padding:2px">
    <h2>Company List</h2>
        @Html.ActionLink("Add Company", "Create", "CustEntities", new { id = Model.Id }, new { @class = "btn btn-default" })

</p>
@{Html.RenderPartial("PartialView_CompanyDetails", (List<JobsV1.Models.CustEntMain>)ViewBag.companyList );}

<p style="padding:2px">
    <h2>Job List</h2>

        @Html.ActionLink("Add Job", "Create", "JobMains", new { id = Model.Id }, new { @class = "btn btn-default" })

</p>
@{Html.RenderPartial("PartialView_JobDetails", (List<JobsV1.Models.CustomerJobDetails>)ViewBag.jobList);}




<p>
    @Html.ActionLink("Home", "Index", "Home", null, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
