@model IEnumerable<JobsV1.Models.CustFiles>

@{
    ViewBag.Title = "PartialView_Files";
    int customerid = Convert.ToInt32(ViewData["customerId"]);
}

<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Desc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Desc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)

            <img id="@Html.DisplayFor(modelItem => item.Id )" src="@Html.DisplayFor(modelItem => item.Path)" alt="@Html.DisplayFor(modelItem => item.Desc)" style="width:100%;max-width:300px;display:none;">

        </td>
        <td>
          
            @Html.ActionLink("Remove", "Remove", "CustFiles", new { fileid = item.Id, custid = customerid }, null) |
           

            <a href="@Html.DisplayFor(modelItem => item.Path)" target="_blank">View</a>
           
        </td>
    </tr>
}

</table>


<script>

</script>
