@model IEnumerable<JobsV1.Models.CustEntMain>

@{
    ViewBag.Title = "PartialView_CompanyDetails";
    int customerid = Convert.ToInt32(ViewData["customerId"]);

}


<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Contact2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.iconPath)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Contact2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.iconPath)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", "CustEntMains",new { id = item.Id }, null) |
            @Html.ActionLink("Remove", "Remove", "CustEntities", new { comid = item.Id, custid = customerid }, null)
        </td>
    </tr>
}

</table>
