@model IEnumerable<JobsV1.Models.DailyUpdate>

@{
    ViewBag.Title = "DailyUpdateList";
}

<h2>DailyUpdateList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="~/SalesLeads/Details/@item.refId" target="_blank">
                <span style="color:darkblue;">
                    @Html.DisplayFor(modelItem => item.dtTaken)
                </span>
                -
                <span>
                    @Html.DisplayFor(modelItem => item.StatusCategory)
                </span>
                [
                @Html.DisplayFor(modelItem => item.refId)

                ]

                <br />
                <span style="font-weight:bold">
                    @Html.DisplayFor(modelItem => item.Details)
                </span>
            </a>

        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Home", "Index","Home")
</p>