@model IEnumerable<JobsV1.Controllers.cJobService>

<div style="padding-left:1.5em;">

@foreach (var item in Model) {
    DateTime dtstart = (DateTime) item.Service.DtStart;
    DateTime dtend = (DateTime)item.Service.DtEnd;

    <div>
        <div style="background-color:lightgray;padding:0.5em;">
          
            <span style="font:bold 11px;color:darkblue;">
                @dtstart.ToString("MMM-dd") to
                @dtend.ToString("MMM-dd") 
            </span> 
       
            <span style="font-weight:600;color:darkblue;">@item.Service.Particulars</span>
            <span>

                @Html.ActionLink("Edit", "JobServiceEdit", new { id = item.Service.Id }) |
                @Html.ActionLink("Details", "JobServiceDetails", new { id = item.Service.Id }) |
                @Html.ActionLink("Delete", "JobSvcDelete", new { id = item.Service.Id })
            </span>
        </div>
        @Html.Partial("PartialViewSrvActionItems", item.SvcActions, new ViewDataDictionary(this.ViewData) { { "svcId1", item.Service.Id } })

        <div>
            @Html.Partial("PartialViewJobServiceItems", item.SvcItems, new ViewDataDictionary(this.ViewData) { { "svcId1", item.Service.Id } })
            @Html.Partial("PartialViewServiceSupPo", item.SupplierPos, new ViewDataDictionary(this.ViewData) { { "svcId1", item.Service.Id } })
        </div>
    </div>

}
</div>
