@model IEnumerable<JobsV1.Models.InvCarRecord>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
        @Html.ActionLink("Create New", "Create")|
        @Html.ActionLink("Record Types", "Index", "invCarRecordTypes")
</p>
<table class="table">
    <tr>
        <!--
        <th>
            @Html.DisplayNameFor(model => model.Odometer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dtDone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextOdometer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NextSched)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvCarRecordType.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InvItem.ItemCode)
        </th>
        <th></th>
        -->
        <th>
            Date
        </th>
        <th>
            Description
        </th>
        <th>
            Odometer
        </th>
        <th>
            NextOdometer
        </th>
        <th>
            NextSched
        </th>
        <th>
            Remarks
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.dtDone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InvItem.ItemCode) -
            @Html.DisplayFor(modelItem => item.InvCarRecordType.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Odometer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextOdometer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NextSched)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
