



<div class="modal-body row " id="modal2-content">

    <div id="btn-rentalType" class="btn-group btn-group-justified">
        <label class="btn btn-primary">
            <input type="radio" name="options" id="optionTrue" value="Self Drive" />   Self Drive
        </label>

        <label class="btn btn-primary">
            <input type="radio" name="options" id="optionFalse" value="With Driver" /> With Driver
        </label>
    </div>
    <br />

    <div class="btn-group" id="btn-rentalUnit">
        @foreach (var carList in ViewBag.CarUnitList as IEnumerable<JobsV1.Models.CarUnit>)
            {
            <label class="btn col-md-4 car-selection isSelfDrive@(carList.SelfDrive)" id="@(carList.Id)" style="width:180px;height:200px;">
                <h5><b>@carList.Description</b></h5>
                <input type="radio" name="cars" value="@carList.Description" id="@carList.Id" style="visibility:hidden;" />
                <img src="~/Images/CarRental/@carList.CarImages.Where(c=>c.CarUnitId == carList.Id).First().ImgUrl" width="100%" style="margin-left:-30px;" />
            </label>
            }
    </div>
</div>



    <div class="modal-body row" id="formPackages" style="display:none;">
        @Html.Action("FormPackages")
    </div>

    <div class="modal-body row" id="formReserve" style="display:none;">
        @Html.Action("FormReservation")
    </div>
