
<img src="~/Images/LOGO_AJRENTACAR.jpg" width="200" />

<h1> Thank you for the Reservation. </h1>
<h4> Reservation No:  @ViewBag.rsvId  </h4>

<div>
    <p>Dear Valued Customer,</p>
    <p>Thank you for your reservation.  </p>
    <p>
        This is also to inform you that we are still in the process of developing our online payment system to further enhance our services.
        For the meantime, in order to confirm your booking with us, we require the 10% partial payment of the total estimated cost to be deposited in the bank given below.
        
    </p>
    <p>
        Bank Details:
        <span class="userData">BDO - SM Ecoland Davao</span><br />
        Account Name:
        <span class="userData">AJ88 Car Rental Services</span><br />
        Account Number:
        <span class="userData">000 860 729 575</span><br />
        <br />
        <p>Please scan your payment reciept and send it to reservation.realwheels@gmail.com.
        We will call or email you for the confirmation of the reservation. Should there be further concern, please don't hesitate to contact us.
        </p>
       
    <p>

    <p>or pay using PayPal: </p>
    <div id="paypal-button" style="display:none"></div>

    <p>
        <br /><br /><br />
        Yours Truly,<br /><br />
        <span class="userData01">Abel S. Salvatierra</span><br />
        <span class="userRemarks">Part-Owner</span><br />
        <span class="userRemarks">AJ88 Car Rental Services - Davao</span><br />
        <span class="userRemarks">Mobile: (+63) 995-450-8517</span><br />
        <span class="userRemarks">Email: AJDavao88@gmail.com</span><br />
        <br />
    </p>

</div>




@Html.ActionLink("Back to Home", "Index" , null, new { @class = "btn btn-default"})


<!--
Admin Account: admin-merch0@gmail.com
Client ID: AeKvfmAZjDaTJ4bH4PFGurLMvFZOl9OeHaK6xUlSCB0Ny8RU2WEeijZLTeRGvz0GjQXrX1SuaYvf53-H

-->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
        // Configure environment
        env: 'sandbox',
        client: {
            sandbox: 'AeKvfmAZjDaTJ4bH4PFGurLMvFZOl9OeHaK6xUlSCB0Ny8RU2WEeijZLTeRGvz0GjQXrX1SuaYvf53-H',
            production: 'demo_production_client_id'
        },
        // Customize button (optional)
        locale: 'en_US',
        style: {
            label: 'pay',
            size: 'medium',
            color: 'blue',
            shape: 'pill',
        },

        // Set up a payment
        payment: function (data, actions) {
            return actions.payment.create({
                transactions: [{
                    amount: {
                        total: '@ViewBag.Amount.00',
                        currency: 'PHP',
                        details: {
                            subtotal: '@ViewBag.Amount.00',
                            tax: '0.00'
                            //shipping: '0.01',
                            //handling_fee: '1.00',
                            //shipping_discount: '0.00',
                            //insurance: '0.00'
                        }

                    },
                    description: 'RealWheels Rental. ',
                    custom: '90048630024435',
                    //invoice_number: '12345', Insert a unique invoice number
                    payment_options: {
                        allowed_payment_method: 'INSTANT_FUNDING_SOURCE'
                    },
                    soft_descriptor: 'Reservation: @ViewBag.rsvId',
                    item_list: {
                        items: [
                        {
                            name: '@ViewBag.ReservationType',
                            description: 'Unit: @ViewBag.CarDesc',
                            quantity: '1',
                            price: '@ViewBag.Amount.00',
                            tax: '0.00',
                            currency: 'PHP'
                        }
                        ]
                    }
                }]
            });
        },
        // Execute the payment
        onAuthorize: function (data, actions) {
            return actions.payment.execute()
            .then(function (response) {
                // Show a confirmation message to the buyer
                window.alert('Thank you for your purchase!');
                console.log(response);
            });
        }
    }, '#paypal-button');
</script>