
@{
    ViewBag.Title = "Car Rental Davao";
}

<div class="jumbotron row">
    <div class="col-md-5">
        <h2>Welcome to Davao!</h2>
        <p class="lead">Start your journey with us.</p>
        @Html.ActionLink("Contact us for Inquiries/Reservation", "ContactUs", "CarRental", null, new { @class = "btn btn-primary btn-lg" })

        <button href="" class="btn btn-primary" id="catbtn" data-toggle="modal" data-target="#ReserveCarList" style="margin-bottom:10px; font-size:18px; margin:1px;"> Reservation </button>
    </div>

    <div class="col-md-5"> 

        <img src="~/Images/CarRental/hondaCity_Banner.png" width="350"/>
    
    </div>


    <div class="col-md-2">


    </div>
    @*@Html.ActionLink("Book a Car", "Create", "JobMains", null, new { @class = "btn btn-primary btn-lg" })*@ 
    
</div>
<div class="row">
    <div class="col-md-4 car-primary">
        <h2>Van 10 seater</h2>
        <div style="background-image:url('CarRental/MainImage/1');background-repeat:no-repeat;background-size:200px;height:180px;">
            <p>&nbsp</p>
        </div>

        <div>
            <table>
                <tr>
                    <th>
                        Toyota Grandia GL  &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 1 })
                    </td>
                </tr>
            </table>
        </div>
    </div>
     
    <div class="col-md-4 car-primary">
        <h2>Van 14 seater</h2>
        <div style="background-image:url('CarRental/MainImage/2');background-repeat:no-repeat;background-size:200px;height:180px;">
            <p>&nbsp</p>
        </div>

        <div>
            <table>
                <tr>
                    <th>
                        Nissan Premium  &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 2 })
                    </td>
                </tr>
            </table>
        </div>

    </div>
    <div class="col-md-4 car-primary">
        <h2>SUV</h2>
        <div style="background-image:url('CarRental/MainImage/3');background-repeat:no-repeat;background-size:200px;height:180px;">
            <p>&nbsp</p>
        </div>
        <div>
            <table>
                <tr>
                    <th>
                        Ford Everest 2016 &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 3 })
                    </td>
                </tr>
            </table>

        </div>

    </div>

    <div class="col-md-4 car-primary">
        <h2>MPV/AUV</h2>
        <div style="background-image:url('CarRental/MainImage/4');background-repeat:no-repeat;background-size:200px;height:180px;">
            <p>&nbsp</p>
        </div>
        <div>
            <table>
                <tr>
                    <th>
                        Toyota Innova &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 3 })
                    </td>
                </tr>
            </table>
        </div>

    </div>

    <div class="col-md-4 car-primary">
        <h2>Sedans</h2>
        <div style="background-image:url('CarRental/MainImage/5');background-repeat:no-repeat;background-size:200px;height:180px;">
            <p>&nbsp</p>
        </div>
        <div>
            <table>
                <tr>
                    <th>
                        Honda City &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 5 })
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="col-md-4 car-primary">
            <h2>Pickups</h2>
            <div style="background-image:url('CarRental/MainImage/6');background-repeat:no-repeat;background-size:200px;height:180px;">
                <p>&nbsp</p>
            </div>
            <div>
                <table>
                    <tr>
                        <th>
                            Pickups &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.Action("CarRate", new { unitid = 6 })
                        </td>
                    </tr>
                </table>
            </div>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
       @{Html.RenderPartial("Partial_content_1");}
    </div>
</div>
<!--
<div class="row">
    <h2>Settings</h2>
   @* @Html.ActionLink("Car Rate", "Index", "CarUnits", null, new { @class = "btn btn-default" }) *@ 
   @* @Html.ActionLink("Distance Table", "Index", "CarDestinations", null, new { @class = "btn btn-default" }) *@
</div>
-->

<!-- Modal -->
<div class="modal fade" id="ReserveCarList" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title">Car Selection</h3>
            </div>

            <div class="modal-body row " id="modal2-content">

                <div id="btn-rentalType" class="btn-group btn-group-justified">
                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="optionTrue" value="Self Drive" />   Self Drive
                    </label>

                    <label class="btn btn-primary">
                        <input type="radio" name="options" id="optionFalse" value="With Driver" /> With Driver
                    </label>
                </div>

                <br />
                <div class="btn-group" id="btn-rentalUnit" >
                    @foreach (var carList in ViewBag.CarUnitList as IEnumerable<JobsV1.Models.CarUnit>)
                    {
                        <label class="btn col-md-4 car-selection" id="car@(carList.Id)" style="width:180px;height:200px;">
                            <h5> <b>@carList.Description</b></h5>
                            
                            <!--
                            <a href="@Url.Action("Create", "CarReservations", new { id = carList.Id })">
                                <img src="~/Images/CarRental/@carList.CarImages.Where(c=>c.CarUnitId == carList.Id).First().ImgUrl" width="100%" style="margin:10px;" />
                                <input type="radio" name="cars" value="@carList.Description" />
                            </a>
                             -->

                            <input type="radio" name="cars" value="@carList.Description" style="visibility:hidden;"/>

                            <img src="~/Images/CarRental/@carList.CarImages.Where(c=>c.CarUnitId == carList.Id).First().ImgUrl" width="100%" style="margin-left:-30px;" />
                            
                        </label>
                    }
                </div>
            </div>
            <div class="modal-footer">
                <div class="pull-left">
                    <p id="modal-text-foot">hello</p>
                </div>

                <div class="pull-right">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Submit</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script src="~/Scripts/jquery-3.3.1.js"></script>

<script>

    $('#btn-rentalType').click(function () {
        $('#modal-text-foot').text($('input:radio[name=options]:checked').val() + ' - ' + $('input:radio[name=cars]:checked').val());

        if ($('input:radio[name=options]:checked').val() == "Self Drive") {
            $('#car1').hide();
            $('#car2').hide();
        } else {
            $('#car1').show();
            $('#car2').show();
        }
    });


    $('#btn-rentalUnit').click(function () {
        $('#modal-text-foot').text($('input:radio[name=options]:checked').val() + ' - ' +$('input:radio[name=cars]:checked').val());

    });

</script>