
@{
    ViewBag.Title = "Car Rental Davao";
}

<div class="jumbotron">
    <h2>Car Rental Services</h2>
    <p class="lead">Davao City</p>

    @Html.ActionLink("Book a Car", "Create", "JobMains", null, new { @class = "btn btn-primary btn-lg" }) 
    @Html.ActionLink("Contact Us", "Create", "JobMains", null, new { @class = "btn btn-primary btn-lg" }) 
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Van</h2>
        <div style="background-image:url('CarRental/MainImage/1');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>

        <p>
            <table>
                <tr>
                    <th>
                    Toyota Grandia GL  &nbsp;
                    @Html.ActionLink("Detail", "CarDetail", "CarRental", new { unitid = 1 }, new { @class = "btn btn-primary" })
                    </th>
                </tr>
            <tr>
                <td>
                    @Html.Action("CarRate", new { unitid = 1 })    
                </td>
            </tr>
            </table>
        </p>

        @Html.ActionLink("Detail", "CarDetail", "CarRental", new { unitid = 1 }, new { @class = "btn btn-primary" })

    </div>

    <div class="col-md-4">
        <h3>SUV</h3>
        <div style="background-image:url('CarRental/MainImage/2');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>
        <p>
            <table>
                <tr>
                    <th>
                        Ford Everest 2016 (All New) &nbsp;
                        @Html.ActionLink("Detail", "CarDetail", "CarRental", new { unitid = 2 }, new { @class = "btn btn-primary" })
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 2 })
                    </td>
                </tr>
            </table>

        </p>

    </div>

    <div class="col-md-4">
        <h2>MPV/AUV</h2>
        <div style="background-image:url('CarRental/MainImage/3');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>
        <p>
            <table>
                <tr>
                    <th>
                        Toyota Innova &nbsp;
                        @Html.ActionLink("Detail", "CarDetail", "CarRental", new { unitid = 3 }, new { @class = "btn btn-primary" })
                    
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 3 })
                    </td>
                </tr>
            </table>
        </p>

    </div>

    <div class="col-md-4">
        <h2>Sedans</h2>
        <div style="background-image:url('CarRental/MainImage/4');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>
        <p>
            <table>
                <tr>
                    <th>
                        Honda City &nbsp;
                        @Html.ActionLink("Detail", "CarDetail", "CarRental", new { unitid = 4 }, new { @class = "btn btn-primary" })
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 4 })
                    </td>
                </tr>
            </table>
        </p>
    </div>

    <div class="col-md-4">
            <h2>Pickups</h2>
            <div style="background-image:url('CarRental/MainImage/5');background-repeat:no-repeat;background-size:220px;height:150px;">
                <p>&nbsp</p>
            </div>
            <p>
                <table>
                    <tr>
                        <th>
                            Pickups &nbsp;
                            @Html.ActionLink("Detail", "CarDetail", "CarRental", new { unitid = 5 }, new { @class = "btn btn-primary" })
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.Action("CarRate", new { unitid = 5})
                        </td>
                    </tr>
                </table>
            </p>
    </div>

</div>

<div class="row">
    <h2>Settings</h2>
    @Html.ActionLink("Car Rate", "Index", "CarUnits", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Distance Table", "Index", "CarDestinations", null, new { @class = "btn btn-default" })
</div>


