
@{
    ViewBag.Title = "Car Rental Davao";
}

<div class="jumbotron">
    <h2>Welcome to Davao!</h2>
    <p class="lead">Start your journey with us.</p>

    @*@Html.ActionLink("Book a Car", "Create", "JobMains", null, new { @class = "btn btn-primary btn-lg" })*@ 
    @Html.ActionLink("Contact us for Inquiries/Reservation", "ContactUs", "CarRental", null, new { @class = "btn btn-primary btn-lg" }) 
</div>
<div class="row">
    <div class="col-md-4 car-primary">
        <h2>Van 10 seater</h2>
        <div style="background-image:url('CarRental/MainImage/1');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>

        <p>
            <table>
                <tr>
                    <th>
                    Toyota Grandia GL  &nbsp;
                    </th>
                </tr>
            <tr>
                <td>
                    @Html.Action("CarRate", new { unitid = 1 })    
                </td>
            </tr>
            </table>
            @Html.ActionLink("More Detail", "CarDetail", "CarRental", new { unitid = 1 }, new { @class = "btn btn-primary" })
        </p>

    </div>
     
    <div class="col-md-4 car-primary">
        <h2>Van 14 seater</h2>
        <div style="background-image:url('CarRental/MainImage/2');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>

        <p>
            <table>
                <tr>
                    <th>
                        Nissan Premium  &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 2 })
                    </td>
                </tr>
            </table>
            @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 2 }, new { @class = "btn btn-primary" })
        </p>

    </div>
    <div class="col-md-4 car-primary">
        <h3>SUV</h3>
        <div style="background-image:url('CarRental/MainImage/3');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>
        <p>
            <table>
                <tr>
                    <th>
                        Ford Everest 2016 &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 3 })
                    </td>
                </tr>
            </table>
            @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 3 }, new { @class = "btn btn-primary" })

        </p>

    </div>

    <div class="col-md-4 car-primary">
        <h2>MPV/AUV</h2>
        <div style="background-image:url('CarRental/MainImage/4');background-repeat:no-repeat;background-size:220px;height:150px;">
            <p>&nbsp</p>
        </div>
        <p>
            <table>
                <tr>
                    <th>
                        Toyota Innova &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 3 })
                    </td>
                </tr>
            </table>
            @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 4 }, new { @class = "btn btn-primary" })
        </p>

    </div>

    <div class="col-md-4 car-primary">
        <h2>Sedans</h2>
        <div style="background-image:url('CarRental/MainImage/5');background-repeat:no-repeat;background-size:200px;height:150px;">
            <p>&nbsp</p>
        </div>
        <p>
            <table>
                <tr>
                    <th>
                        Honda City &nbsp;
                    </th>
                </tr>
                <tr>
                    <td>
                        @Html.Action("CarRate", new { unitid = 5 })
                    </td>
                </tr>
            </table>
            @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 5 }, new { @class = "btn btn-primary" })
        </p>
    </div>

    <div class="col-md-4 car-primary">
            <h2>Pickups</h2>
            <div style="background-image:url('CarRental/MainImage/6');background-repeat:no-repeat;background-size:320px;height:150px;">
                <p>&nbsp</p>
            </div>
            <p>
                <table>
                    <tr>
                        <th>
                            Pickups &nbsp;
                        </th>
                    </tr>
                    <tr>
                        <td>
                            @Html.Action("CarRate", new { unitid = 6 })
                        </td>
                    </tr>
                </table>
                @Html.ActionLink("More Details", "CarDetail", "CarRental", new { unitid = 6 }, new { @class = "btn btn-primary" })
            </p>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
       @{Html.RenderPartial("Partial_content_1");}
    </div>
</div>
<!--
<div class="row">
    <h2>Settings</h2>
   @* @Html.ActionLink("Car Rate", "Index", "CarUnits", null, new { @class = "btn btn-default" }) *@ 
   @* @Html.ActionLink("Distance Table", "Index", "CarDestinations", null, new { @class = "btn btn-default" }) *@
</div>
-->

