@model IEnumerable<JobsV1.Models.BlasterLog>

@{
    ViewBag.Title = "BlastResult";
}

<h2>BlastResult</h2>

<p>
    @Html.ActionLink("Back to Template List", "Index")
</p>

<div class="col-12 pull-right">
    <div class="col-lg-5">
        <b>Start Date: </b>
        <input id="sDate" type="date"  />
    </div>
    <div class="col-lg-5">
        <b>End Date: </b>
        <input id="eDate" type="date" />
    </div>
    <div class="col-lg-2 ">
        <button class="btn btn-primary" onclick="reportUpdate();" style="margin-top:-5px;margin-bottom:5px;">
            <span class="glyphicon glyphicon-search"></span> Filter
        </button>
    </div>
</div>


<table class="table">
    <tr>
        <th>
            Report Id
        </th>
        <th>
           DateTime
        </th>
        <th>
            Customer Id
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailBlasterLog.Email)
        </th>
        <th>
           Template Id
        </th>
        <th>
            Status
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReportId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailBlasterLog.DateTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailBlasterLog.CustId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailBlasterLog.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailBlasterTemplateId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmailBlasterLog.Status )
        </td>
    </tr>
}

</table>

<script src="~/Scripts/DateRangePicker/moment.min.js"> </script>
<script src="~/Scripts/jquery-1.12.4.min.js"> </script>

<script>

    $(document).ready(function () {
        Update();
    });

    function Update() {
        var url_string = window.location.href;
        var url = new URL(url_string);

        var reportId = url.searchParams.get("reportId");
        var eDate = url.searchParams.get("eDate");
        var sDate = url.searchParams.get("sDate");

        $('#reportId').val(reportId);
        $('#eDate').val(eDate);
        $('#sDate').val(sDate);


        var datearray1 = sDate.split("/");
        var newStartDate = datearray1[2] + '-' + datearray1[0] + '-' + datearray1[1];

        var datearray2 = eDate.split("/");
        var newEndDate = datearray2[2] + '-' + datearray2[0] + '-' + datearray2[1];


        document.getElementById("eDate").value = newEndDate;
        document.getElementById("sDate").value = newStartDate;
    }

    function reportUpdate() {
        var sDate = document.getElementById("sDate").value;
        var eDate = document.getElementById("eDate").value;

        var datearray1 = sDate.split("-");
        var newStartDate = datearray1[1] + '/' + datearray1[2] + '/' + datearray1[0];

        var datearray2 = eDate.split("-");
        var newEndDate = datearray2[1] + '/' + datearray2[2] + '/' + datearray2[0];


        //specify the date string and the format it's initially in
        // sDate = moment(sDate, 'DD/MM/YYYY');
        // eDate = moment(eDate, 'DD/MM/YYYY');
        
        //format that date into a different format
        //moment(mydate).format("MM/DD/YYYY");

        var requestString = "/EmailBlaster/BlastResult?";

        requestString += "reportId=" + 0;
        requestString += "&sDate=" + newStartDate;
        requestString += "&eDate=" + newEndDate;

        window.location.href = requestString;

        //window.location.href = "/Reporting/Index/" + idVal + "&sDate=" + sDateVal + "&sDate=" + eDateVal;
    }

</script>